[submodule "src/v2x_cohdatoros"]
	path = src/v2x_cohdatoros
	url = https://github.com/V2X-Ampelassistent/v2x_cohdatoros.git
[submodule "src/v2x_cohdainterfaces"]
	path = src/v2x_cohdainterfaces
	url = https://github.com/V2X-Ampelassistent/v2x_cohdainterfaces.git
[submodule "src/v2x_frontend"]
	path = src/v2x_frontend
	url = https://github.com/V2X-Ampelassistent/v2x_frontend.git
[submodule "src/v2x_ampellogik"]
	path = src/v2x_ampellogik
	url = https://github.com/V2X-Ampelassistent/v2x_ampellogik.git
[submodule "src/v2x_services"]
	path = src/v2x_services
	url = https://github.com/V2X-Ampelassistent/v2x_services.git
[submodule "src/v2x_trafficlightassist"]
	path = src/v2x_trafficlightassist
	url = https://github.com/V2X-Ampelassistent/v2x_trafficlightassist.git
[submodule "src/v2x_servicedummy"]
	path = src/v2x_servicedummy
	url = https://github.com/V2X-Ampelassistent/v2x_servicedummy.git
[submodule "src/can_bridge"]
	path = src/can_bridge
	url = https://github.com/V2X-Ampelassistent/can_bridge.git
